body{
background:#0f172a;
font-family:Arial,sans-serif;
color:white;
margin:0;
padding:20px;
}

header{
text-align:center;
margin-bottom:30px;
}

h1{
color:#38bdf8;
}

.container{
display:flex;
flex-direction:column;
gap:15px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:15px;
text-decoration:none;
color:white;
font-size:20px;
font-weight:bold;
transition:0.3s;
}

.card:hover{
background:#334155;
}

button{
background:#38bdf8;
border:none;
padding:10px 15px;
border-radius:10px;
color:white;
font-size:16px;
}
